.git
.gitignore
.dockerignore
.pytest_cache
.coverage
htmlcov
*.log
logs
venv
ENV
env
.venv
.env
.env.local
**/__pycache__
*.pyc
*.pyo
*.egg-info
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
README.md
docs
chart
k8s
mkdocs.yaml
